{% extends 'base.html' %}
{% block title %}MedTime{% endblock %}

{% block body %}
<body>
    <div class="container-1">
        <div class="intro-text">
            <div class="intro-heading">Welcome to MedTime</div>
            <div class="intro-lead-in">Track and set reminders for all of your medications.</div>
            <a href="/signup" class="page-scroll btn btn-x1" style="margin-top: 1em;"> START NOW</a>
        </div>
        <div class="login-form">
            <h4><MedTime</h4>
            <form action="/login" method="POST">
                <div class="email">
                    <input type="email" name="email" placeholder="email" required>
                </div>
                <div class="password">
                    <input type="password" name="password" placeholder="password" required>
                </div>
                <div>
                    <input type="submit" value="Log In"> 
                </div>
            </form>
        </div>
    </div>
</body>
</html>
{% endblock %}
