{% extends 'base.html' %}  
{% block body %} 

<div class="container">
  <h1>Login Here</h1>
  <form action="/login" method="POST">
<!--
    <div>
        <label>Email:
            <input type="email" name="email" required>
        </label>
    </div>
    <div>
        <label>Password:
            <input type="password" name="password" required>
        </label>
    </div>
    <div>
        <input type="submit" value="Log In">
    </div>
  </form>
  <span>No account? Sign up today and start taking control of your medications!</span>
  <a href="/signup"> Sign up </a>
    </div>
</div> -->

<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-4">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form class="form-signin">
            <div class="form-label-group">
              <input type="email"  name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
              <label for="inputEmail"></label>
            </div>

            <div class="form-label-group">
              <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
              <label for="inputPassword"></label>
            </div>
            <button class="btn btn-lg btn-success btn-block " class="center" type="submit">Sign in</button>
              <hr class="my-4">

            </form>
          </div>
        </div>
      </div>
    </div>
  </form>

</body> 
{% endblock %}
