{% extends 'base.html' %}  
{% block content %} 
{% if registered != Flase %} 
    You have successfully registered - Please log in to begin tracking your medications!
{% endif %}  
<div class="container">
  <h1>Login Here</h1>
  <form action="/login" method="POST">

    <div>
        <label>Email:
            <input type="email" name="email" required>
        </label>
    </div>
    <div>
        <label>Password:
            <input type="password" name="password" required>
        </label>
    </div>
    <div>
        <input type="submit" value="Log In">
    </div>
  </form>
  <span>No account? Sign up today and start taking control of your medications!</span>
  <a href="/signup"> Sign up </a>
    </div>
</div>
{% endblock %}
