{% extends 'base.html' %} 
{% block content %}

<h1>Hello, {{ user.fname }} !</h1>

<br>
<div id="medications-html">
<h2><i class="fa fa-file-prescription"></i>View your medication directory:</h2>
<br>
<i>
    <i class="fa fa-prescription-bottle"></i>
    </i>
    Medication Information:
</i>
{% for med in meds %} 
    <br/>
    <ol> <i class="fa fa-capsules"></i> Medication Name: {{ med.user_medications }} </ol>
    <ul>
        <li>How many pills do you take each time you take your medication? {{ med.dosage }}</li>
    </ul>
</div>
{% endfor %} 

<ul>
    {% for m in meds %} 
        <li><i calss="fa fa-clock-o"></i> REMINDER medication times for: {{ m.user_medications }} 
            <ul>
                {% for time in m.scheduled_time %}</li>
            </ul>
        </li>
{% endblock %}