{% extends 'base.html' %} 
{% block body %}

<h1>Hello, {{ user.fname }}!</h1>

<br>
<div id="medications-html">
<h2><i class="fa fa-file-prescription"></i>View your medication directory:</h2>
<br>
<i>
    <i class="fa fa-prescription-bottle"></i>
    </i>
    Medication Information:
</i>
{% for medication_id, reminders in medications.items() %}
      <h1>medication_id: {{medication_id}}</h1>
      <h2>reminders: {{reminders}}</h2>
      {% for reminder in reminders %}
      <h3>{{reminder}}</h3>
      <h4>{{reminder.scheduled_date}}</h4>
      <h5>{{reminder.scheduled_time}}</h5>
      <h6>{{reminder.intake_alarm}}</h6>
      <h7>{{reminder.refills}}</h7>
        {% endfor %}

    <br/>
    <ol> <i class="fa fa-capsules"></i> Medication Name: {{ med.user_medications }} </ol>
    <ul>
        <li>How many pills do you take each time you take your medication? {{ med.dosage }}</li>
    </ul>
</div>
</i>
{% endfor %}
{% endblock %}